*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    

}

.video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: 1;

}

.container{
    width: 550px;
    height: 450px;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    margin:100px 400px ;
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 10px;
    transition: 0.5s;
    

}
.container:hover{
    box-shadow: 0 0 3px 5px aqua;
}
.subject{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}
.subject ::placeholder{
    font-size: 16px;
    padding: 5px;

}
h3{
    color: aqua;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 25px;
    margin-top: 30px;

}

h1{
    color: aqua;
    font-weight: bold;
    padding-top: 30px;
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
}
 
.s2{
    color: aqua;
    font-size: 18px;
    font-family: sans-serif;
    margin-left:30px;
    margin-top: 30px;
    
}
h2{
    color: white;
    font-size: 18px;
    margin:30px 25px;
    

}

#Student-Name{
    width: 90%;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    margin-left: 25px;
    color: white;
    font-size: 16px;


}

.container ::placeholder{
    font-size: 16px;
    padding: 5px;
}
  
#English{
    height: 40px;
    width: 90%;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    margin-left: 10px;

}

#Math{
    height: 40px;
    width: 90%;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}


#Sindhi{
    height: 40px;
    width: 90%;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    
}

#ADD{
    width: 90%;
    height: 50px;
    background-color: aqua;
    color: white;
    font-size: 24px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 40px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;

}
#ADD:hover{
    background-color: rgba(0, 255, 255, 0.377);
    transform:translateY(-7px);
}

#btn{
    width: 100px ;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    background-color: aqua;
    border: none;
    border-radius: 5px;
    margin-top:10px ;
    transition: 0.5s;
}
#btn:hover{
    background-color: rgba(0, 255, 255, 0.377);
    transform: translateY(-7px);
}
#div1{
    width: 200px;
    height: 150px;
    background-color:rgba(0, 0, 0, 0.651);
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s;
    
}
#div1:hover{
    box-shadow: 0 0 3px 5px aqua;
}

#p{
    color: aqua;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;

}